<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Company</title>
</head>
<body>
<th:block th:insert="/fragments/fragment.html::controllerAdvice"></th:block>
<th:block th:insert="/fragments/fragment.html::Login"></th:block>
Add Company
<form action="/company/add" method="post"><br>
    <input type="text" name="name" placeholder="Please input name"> <br>
    <input type="number" name="size"> <br>
    <input type="text" name="address" placeholder="Please input address"> <br>
    <input type="submit" value="Add">
</form>
</body>
</html>