<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<th:block th:insert="/fragments/fragment.html::controllerAdvice"></th:block>
<th:block th:insert="/fragments/fragment.html::Login"></th:block>
Add Employee
<form action="/employee/add" method="post" enctype="multipart/form-data"><br>
    <input type="text" name="name" placeholder="Please input name"><br>
    <input type="text" name="surname" placeholder="Please input surname"><br>
    <input type="text" name="email" placeholder="Please input email"><br>
    <input type="number" name="phoneNumber" placeholder="Please input phoneNumber"><br>
    <input type="number" name="salary" placeholder="Please input salary"><br>
    <select name="position">
        <option value="JUNIOR">JUNIOR</option>
        <option value="MIDDLE">MIDDLE</option>
        <option value="SENIOR">SENIOR</option>
    </select><br>
    <select name="company.id">
        <option th:each="company: ${companies}" th:text="${company.name}" th:value="${company.id}"></option>
    </select><br>
    <input type="file" name="employeeImage">
    <input type="submit" value="Add">
</form>
</body>
</html>